*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #19a2ae;
  background-image: url("./assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;

}

.container{
  background: white;
  min-width: 350px;
  height: 374px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 15px;
}

header img{
  border-radius: 15px 15px 0px 0px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main img {
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  margin-top: -55px;
}

.nome-idade{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.nome-idade h1{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #2E3349;
  margin-right: 8.5px;
}

.nome-idade h2{
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #6B7082;
}

main span {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #6B7082;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 28px;
  padding-top: 24px;
  border-top: 1px solid #E8E9EC;
}

.inf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inf h1{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #2E3349;
}

.inf span {
  margin-top: 9px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}

